{% extends "layout.html" %}
{% block body %}
<br>
<br>
<br>
<br>
<br>


<div style="background-color:white;opacity:0.8;padding:50px;">
	<h1>About<h1>
    <h5 style="font-family:areal">The Institute of Technology was established in 1999, as a center of excellence in Information Technology and allied areas. The institute was conferred the "Deemed University" status by Govt. of India in the year 2000. The Institute thus became empowered to have a perpetual seal and award degrees subsequent to the conduct of its own examinations.</h5>
    <br>
    <h1>How To Reach<h1>
    </div>
{% endblock body %}
