<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {% block head %}{% endblock %}

    {% if title %}
        <title>Institute of Technology - {{ title }}</title>
    {% else %}
        <title>Institute of Technology</title>
    {% endif %}
</head>
<style>
table, th, td {
  border: 1px solid black;
  padding: 10px
}
</style>
<header class="site-header">
    <nav class="  navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="/"><i class="fas fa-university fa-2x"></i> <b>Institute of Technology</b></a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <!-- <a class="nav-item nav-link" href="{{ url_for('home') }}"><i class="fas fa-home"></i> Home</a> -->
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if current_user %}
            <li class="dropdown">
                <a class="dropdown-toggle nav-item nav-link" data-toggle="dropdown" role="button" href="{{ url_for('profile',current_user=current_user,Type_of_User=Type_of_User) }}"><i class="fas fa-user"></i>  {{ current_user }}</a>
                <ul class="dropdown-menu">
                  <li><a class="nav-item nav-link" href="{{ url_for('logout') }}" style="color:black;"><i class="fas fa-external-link-alt"></i> Logout</a></li>
                </ul>
              </li>
            {% else %}
              <a class="nav-item nav-link" href="{{ url_for('about') }}"><i class="fas fa-tachometer-alt"></i> About</a>
              <a class="nav-item nav-link" href="{{ url_for('register') }}"><i class="fas fa-user-plus"></i> Register</a>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle nav-item nav-link" data-toggle="dropdown" role="button"><i class="fas fa-sign-in-alt"></i> Login<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-item nav-link" href="{{ url_for('Studlogin') }}" style="color:black;"><i class="fas fa-graduation-cap"></i> Student</a></li>
                    <li><a class="nav-item nav-link" href="{{ url_for('Faclogin') }}" style="color:black;"><i class="fas fa-chalkboard-teacher"></i> Faculty</a></li>
                    <li><a class="nav-item nav-link" href="{{ url_for('adminlogin') }}" style="color:black;"><i class="fas fa-chalkboard-teacher"></i> Admin</a></li>
                  </ul>
                </li>
            {% endif %}
          </div>
        </div>
        <!-- <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a> -->
      </div>
    </nav>
  </header>
<body onload="disply_cur_sem_tab()">
    <main role="main" class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block body %}{% endblock %}
        </div>
      </div>
    </main>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>