{% extends "layout.html" %}
{% block body %}
<br>
<br>
<br>
<div style="background-color:white; padding:50px;opacity:0.8;absolute:none;">
            <h1><span>Welcome </span>{{ current_user }}</h1>
            <h5><span style="color: #aa0a01">Enrollment ID</span> - {{ stud_details[0] }}
            <h5><span style="color: #aa0a01">Branch Name</span> - {{ stud_details[1] }}
            <h5><span style="color: #aa0a01">Course Duration</span> - {{ stud_details[2] }}
<br><br><br>

      <div class="row">
    <!-- {% for sem in sem_list %}
    <button onclick="displayTable(this)" type="button" class="btn btn-primary" value="{{sem}}">Sem{{sem}}</button>
    {% endfor %} -->
  
</div>
    {% for sem in sem_list %}
    <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-tachometer-alt"></i> Semester {{sem}}</li>
            </ol>
          </nav>
    <table id="sem{{sem}}" >  
        <tr>
          <th>COURSE</th>
          <th>QUIZ1(15)</th>
          <th>MIDSEM(30)</th>
          <th>QUIZ2(30)</th>
          <th>ENDSEM(75)</th>
          <th>LABTEST</th>
          <th>ATTENDANCE</th>
        </tr>
        {% for course,perf in stud_course_perf[sem].items() %}
        <tr>
            <td>{{ course }}</td>
            <td>{{ perf[0] }}</td>
            <td>{{ perf[1] }}</td>
            <td>{{ perf[2] }}</td>
            <td>{{ perf[3] }}</td>
            <td>{{ perf[4] }}</td>
            <td>{{ perf[5] }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    {% endfor %}
    <!-- {% for sem in total_sem_list %}
    <table id="sem{{sem}}" style="visibility:hidden;">  
        <tr>
          <th>COURSE</th>
         
        </tr>
        {% for course in coursedict[5] %}
        <tr>
           {{course}}
        </tr>
        {% endfor %}
    </table>
    {% endfor %} -->
</div> 

<script>
    // $('#currentSem').data("currentSem","{{currentSem}}");
    // var sem = $('#currentSem').data("currentSem")
    var y = $("#sem3").text();
    var cur_sem = "{{currentSem}}";
    var prev_Tab;
    console.log($("#sem2").text());
    function disply_cur_sem_tab(){
        $("#sem1").css({'visibility' : 'visible'});
        prev_Tab = 1;
        console.log("dbh");
    }
    function displayTable(objButton){
        var str = objButton.value;
        
        console.log(prev_Tab);
        $("#sem"+str).css({'visibility' : 'visible'});
        $("#sem"+prev_Tab).css({'visibility' : 'hidden'});
        prev_Tab = str;
    }
  
</script>

{% endblock body %}